/*定义1px边框像素*/
@mixin border-1px($color){
    position: relative;
    &:after{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        border: 1px solid $color;
        width: 100%;
        margin:0;
        padding: 0;
        box-sizing: border-box;
        content:"";
    }
}
// 取消一像素
@mixin border-none{
    &:after{
        border: none;
    }
}

/*定义rem适配函数*/
@function px2rem($px){
    $rem:25;
    @return ($px/$rem) + rem;
}

// 处理@2x 和 @3x 的图片
@mixin bg-image($url){
    background-image:url($url + "@2x.png");

    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
        background-image:url($url + "@3x.png");
    }
}